* {
    box-sizing: border-box;
}

body, html{
    height: 100%;
}

body {
    margin: 0;
    background-color: #1C1C1C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centerbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: black solid 1px;
    height: 650px;
}

.questionbox{
    padding: 50px 0px 0px 75px;
    height: auto;
}

button:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

main {
    position: relative;
    width: 600px;
    background-color: #F5F7FB;

    background-image: url(./assets/blobBottom.png), url(./assets/blobTop.png);
    background-repeat: no-repeat;
    background-position: left bottom, right top;

    color: #293264;
}

.main--welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome--title{
    font-size: 31.25px;
    font-family: Karla;
    margin: 0px 0px 5px 0px;
}

.welcome--description{
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    margin: 0px 0px 25px 0px;
}

.welcome--startButton{
    background-color: #4D5B9E;
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    color: #F5F7FB;
    border: none;
    width: 193px;
    height: 52px;
    border-radius: 10px;
    cursor: pointer;
}

.main--questions{
    display: flex;
    flex-direction: column;
    width: 450px;
}

.main--bottom{
    display:flex;
    justify-content: center;
    align-items: center;
}

.main--score{
    position:relative;
    top: 20px;

    margin-right: 15px;
    font-family: Inter;
    font-weight: 700;
    font-size: 12px;
    height: 35px;
}

.main--button{
    width: 120px;
    height: 35px;
    background: #4D5B9E;
    border-radius: 10px;
    font-size: 11px;
    font-family: Inter;
    font-weight: 400;
    color: #F5F7FB;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}


.question{
    display: flex;
    flex-direction: column;
    justify-content: left;
    
    width: 450px;
    border-bottom: 1px #DBDEF0 solid;
}

.question--question{
    font-family: Karla;
    font-weight: 700;
    font-size: 16px;
    margin: 10px 0px 10px 0px;
}

.question--answerList{
    display: flex;
    flex-direction: row;
}

.question--answer{
    font-family: Inter;
    font-weight: 500;
    font-size: 11px;
    margin: 0px 15px 10px 0px;
    box-sizing: border-box;

    min-width: 60px;
    min-height:21px;

    border: 0.771045px solid #4D5B9E;
    border-radius: 7.71045px;
    background-color: #F5F7FB;
    cursor: pointer;

    color: #293264;
}

fieldset{
    width: 180px;
}

.popup--settings{
    width: 30px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}

.popup--questionNum{
    display: flex;
    gap: 10px;
}

.popup--apply{
    width: 80px;
    height: 35px;
    background: #4D5B9E;
    border-radius: 10px;
    font-size: 11px;
    font-family: Inter;
    font-weight: 400;
    color: #F5F7FB;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}