* {
    box-sizing: border-box;
}

body, html{
    height: 100%;
}

body {
    margin: 0;
    background-color: #1C1C1C;
    display: flex;
    justify-content: center;
    align-items: center;
}

fieldset{
    width: 180px;
}

.flexbox-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button, select, input{
    cursor:pointer;
}

button:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

/* Main div styling + conditional styling*/
.welcome-box {
    height: 650px;
}

.question-box{
    padding: 50px 0px 0px 75px;
    height: auto;
    min-height: 650px;
}

main {
    position: relative;
    width: 600px;
    background-color: #F5F7FB;

    background-image: url(./assets/blobBottom.png), url(./assets/blobTop.png);
    background-repeat: no-repeat;
    background-position: left bottom, right top;

    color: #293264;
}
/* Main div conditional styling*/


/* Welcome page styling */
.welcome--title{
    font-family: Karla;
    font-size: 31.25px;
    margin: 0px 0px 5px 0px;
}

.welcome--description{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    margin: 0px 0px 25px 0px;
}

.welcome--startButton{
    width: 193px;
    height: 52px;
    background-color: #4D5B9E;
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    color: #F5F7FB;
    border: none;
    border-radius: 10px;
}
/* Welcome page styling */


/* Main page questions styling*/
.main--questions{
    width: 450px;
}
/* Main page questions styling*/


/* Main page bottom row styling */
.main--bottom{
    display:flex;
    justify-content: center;
}

.main--score{
    position:relative;
    top: 20px;

    margin-right: 15px;
    font-family: Inter;
    font-weight: 700;
    font-size: 12px;
    height: 35px;
}

.main--button{
    width: 120px;
    height: 35px;
    background: #4D5B9E;
    border-radius: 10px;
    font-size: 11px;
    font-family: Inter;
    font-weight: 400;
    color: #F5F7FB;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* Main page bottom row styling */


/* Trivia component styling */
.trivia{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 450px;
    border-bottom: 1px #DBDEF0 solid;
}

.trivia--question{
    font-family: Karla;
    font-size: 16px;
    font-weight: 700;
    margin: 10px 0px 10px 0px;
}

.trivia--answerList{
    display: flex;
    flex-direction: row;
}
/* Trivia component styling */


/* Answer component styling */
.answer{
    font-family: Inter;
    font-weight: 500;
    font-size: 11px;
    margin: 0px 15px 10px 0px;
    color: #293264;

    min-width: 60px;
    min-height: 21px;

    border: 0.771045px solid #4D5B9E;
    border-radius: 7.71045px;
    background-color: #F5F7FB;
}
/* Answer component styling */


/* Popup component styling */
.popup--settings{
    width: 30px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}

.popup--questionNum{
    display: flex;
    gap: 10px;
}

.popup--apply{
    width: 80px;
    height: 35px;
    margin-top: 20px;
    
    font-family: Inter;
    font-size: 11px;
    font-weight: 400;
    color: #F5F7FB;

    background-color: #4D5B9E;
    border: none;
    border-radius: 10px;
}
/* Popup component styling */