* {
    box-sizing: border-box;
}

body, html{
    height: 100%;
}

body {
    margin: 0;
    background-color: #1C1C1C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centerbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.questionbox{
    padding: 40px 0px 0px 75px;
}

main {
    width: 550px;
    height: 550px;
    background-color: #F5F7FB;

    background-image: url(./assets/blobBottom.png), url(./assets/blobTop.png);
    background-repeat: no-repeat;
    background-position: left bottom, right top;

    color: #293264;
}

.main--welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome--title{
    font-size: 31.25px;
    font-family: Karla;
    margin: 0px 0px 5px 0px;
}

.welcome--description{
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    margin: 0px 0px 25px 0px;
}

.welcome--startButton{
    background-color: #4D5B9E;
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    color: #F5F7FB;
    border: none;
    width: 193px;
    height: 52px;
    border-radius: 10px;
    cursor: pointer;
}

.main--questions{
    display: flex;
    flex-direction: column;
}

.question{
    display: flex;
    flex-direction: column;
    justify-content: left;
    
    width: 400px;
    border-bottom: 1px #DBDEF0 solid;
}

.question--question{
    font-family: Karla;
    font-weight: 700;
    font-size: 16px;
    margin: 10px 0px 10px 0px;
}

.question--answerList{
    display: flex;
    flex-direction: row;
}

.question--answer{
    font-family: Inter;
    font-weight: 500;
    font-size: 11px;
    margin: 0px 15px 10px 0px;
    box-sizing: border-box;

    min-width: 60px;
    min-height:21px;

    border: 0.771045px solid #4D5B9E;
    border-radius: 7.71045px;
    background-color: #F5F7FB;
    cursor: pointer;

    color: #293264;
}